DATABASE_URL=mysql+pymysql://admin:88888888@localhost:3306/mydb
SECRET_KEY=7IKwUDmcU017tNF2ptw0gx
JWT_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_DAYS=7
FALLBACK_MODEL_PATH=./ml_models/seg_models/unet_model.pth
STORAGE_ROOT=./storage
DOUBAO_API_KEY=d4dd2e27-7de1-41cc-a3c3-c064a067b0ff
DOUBAO_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
DOUBAO_MODEL=ep-20260320135255-mc2jm
TRANSLATION_MODE=auto
HOSPITAL_NAME="virtual-hospital"
FONT_PATH=./fonts/0xProtoNerdFont-Regular.ttf
